header {
    background-color: lightgray;
    color: black;
    font-size: 1.1em;    
}

.jumbotron {
    width: 100% 20vh;
    background-image: url("Big_Chief_Building_2.jpg");
    color: whitesmoke;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
}

#menu {
    font: normal normal bolder 1em 'Times New Roman', Times, serif;
}

a:focus {
    color: whitesmoke;
}

main a {
    color:burlywood;
}

#map {
    counter-reset: black;
    background-color: lightgray;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
}