body {
  font-family: Arial, sans-serif;
  background-color: #00a700;
  color: #5c0070;
}

header {
  font-size: 64px;
  text-align: center;
}

main {
  margin: 20px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}