table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: .2em .7em;
    text-align: left;
}

.right {
    text-align: right;
}

thead, tr:nth-of-type(even), tfoot {
    background-color: yellow;
}

tfoot {
    font-weight: bold;
}

