table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: .2em .7em;
    text-align: right;
}

th.left, td.left {
    text-align: left;
}

thead, tfoot {
    background-color: yellow;
}

tfoot {
    font-weight: bold;
}

