table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: .2em .7em;
    text-align: left;
}

thead, tr:nth-of-type(even), tfoot {
    background-color: yellow;
}

tbody > tr > th {
    background-color: white;
    vertical-align: text-top;
}

tbody > tr > td:last-child {
    text-align: right;
}

tfoot > tr > th {
    font-weight: bold;
    text-align: right;
}

figure, figcaption {
    margin: 0;
    padding: 0;
}

figure {
    border: 1px solid black;
    padding: 20px;
    width: 579px;
}

figcaption {
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 150%;
    padding-bottom: .25em;
}
