/* GENERAL CSS RULES */

*{
    box-sizing: border-box;
}

html{
    font:12pt arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

/* HEADER */

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header-logo{
    width: 100px;
    height: 100px;
    margin: 5px;
}

.header-text{
    padding: 5em;
    flex-shrink: 0;
}