body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 640px;
    border: 3px solid blue;
    padding: 0 2em 1em;
}
h1, h2 {
    color: blue;
}
div {
    margin-bottom: 1em;
}
label {
    display: inline-block;
    text-align: right;
    vertical-align: top;
}
input {
    display: inline-block;
    margin-left: 1em;
    margin-right: 0.5em;
}
output {
    color: red;
    padding: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
}
.alignment {
    display: block;
    white-space: pre;
}