.w3-container {
    margin: 0px 16px;
}

h1, h2 {
    margin: 0px 0px 0px;
    border-bottom: 10px dashed #ffcc00;
    padding: 5px;
}

nav {
    margin: 16px 0px 8px;
    border: 5px solid aqua;
    padding: 5px 0px;
}

.links {
    margin: 15px 0px;
    padding: 0px 0px 0px 15px;
}

a:any-link {
    color: orange;
}

a:hover {
    color: tomato;
}

a:active {
    color: coral;
}

body {
    background-image: linear-gradient(to right, green, purple, black)
}

header {
    background-image: linear-gradient(45deg, green 5%, purple, black 95%)
}

#p1 {
    color: plum;
    height: 20px;
    width: 335px;
    border: 5px dotted seashell;
    margin: 10px 5px;
    padding: 15px;
}

#p2 {
    color: pink;
    height: 40px;
    width: 760px;
    border: 2px solid teal;
    margin: 15px;
    padding: 5px 0px 20px 20px;
    text-align: center;
}

main img {
    margin: 0px 50px 15px;
    padding: 0px;
    border: 2px solid teal;
}

footer img {
    height: 24px;
    width: 24px;
    margin: 0px 5px;
    padding: 0px 5px;
}

footer {
    text-align: center;
    color: paleturquoise;
}