.w3-container {
    margin: 0px 16px;
}

.headings {
    margin: 0px 0px 0px;
    border-bottom: 10px dashed #ffcc00;
    padding: 5px;
}

nav {
    margin: 16px 0px 8px;
    border: 5px solid aqua;
    padding: 5px 5px;
}